@import url("reset.css");

body {
  background-color: rgb(19, 0, 145);
}
.wrapper {
  overflow: clip;
  min-height: 100%;
}
.main__container {
  max-width: 1200px;
  padding: 50px 15px;
  margin: 0 auto;
}
h2 {
  padding-top: 40%;
  font-size: 25px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}
.block__wrapper {
  perspective: 400px;
  perspective-origin: 0 0;
  margin: 0px 0px 50px 0px;
  width: 200px;
  height: 200px;
}
.content {
  width: 200px;
  height: 200px;
  background-color: coral;
}
.translate__block:hover {
  transform: translate(20px, 20px);
}
.scale__block {
  transform: scale(0.7);
}
.scale__block:hover {
  transform: scale(1.2);
}
.rotate__block:hover {
  transform: rotate(360deg);
  transition: all 300ms ease;
}
.skew__block {
  transform: skew(45deg, 0);
}
.skew__block:hover {
  transform: skew(-45deg, 0);
}
.multi__block {
  transform: translate(40px, 30px) scale(0.5) rotate(20deg);
}
.multi__block:hover {
  transform: translate(0, 0) scale(1) rotate(0);
}
.transfotm-origin__block {
  transform-origin: 0 0;
  transform: rotate(-10deg);
}
.transfotm-origin__block:hover {
  transform: rotate(10deg);
}
.perspective {
  width: 200px;
  height: 200px;
  background-color: rgba(169, 169, 169, 0.597);
  perspective: 400px;
  perspective-origin: 50%;
}
.perspective__block {
  transform: rotatey(50deg);
}
.perspective__block:hover {
  transform: rotatey(-50deg);
}
.translate-3d {
  perspective: 400px;
}
.translate-3d__block {
  transform: translate3d(0, 0, 0);
}
.translate-3d__block:hover {
  transform: translate3d(30px, 10px, 40px);
}
.rotate-3d__block {
  transform: rotate3d(1, 1, 1, 30deg);
}
.rotate-3d__block:hover {
  transform: rotate3d(1, 1, 1, -10deg);
}
.transform-style {
  width: 200px;
  height: 200px;
  background-color: rgba(169, 169, 169, 0.597);
  perspective: 400px;
  perspective-origin: 50%;
  transform-style: preserve-3d;
}
.transform-style__block {
  transform: rotatex(50deg);
}
.transform-style__block:hover {
  transform: rotatex(-50deg);
}
.backface__block:hover {
  transform: rotatey(180deg);
  backface-visibility: hidden;
}
