@import url("reset.css");
body {
  background-color: #ffc64b;
}
.header {
  margin: 0px 0px 80px 0px;
}
[class*="__container"] {
  max-width: 1230px;
  padding: 20px 15px;
  margin: 0 auto;
}
.header__image-1 {
  max-width: 700px;
  padding: 30px 0px 0px 0px;
  margin: 0 auto;
}
.header__image-1 img {
  max-width: 100%;
  border: 10px solid rgb(4, 3, 86);
  border-radius: 30px;
}
h1 {
  font-size: 35px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  padding: 20px 0px 0px 0px;
  color: #0000ff;
}
/* ------------------------- */
.main__images-1 {
  max-width: 1200px;
  font-size: 0;
  margin: 0px 0px 80px 0px;
}
.main__images-1 > * {
  max-width: 100%;
  border-radius: 30px;
  border: 10px solid rgb(4, 3, 86);
}
.main__images-1 img:not(:last-child) {
  margin-right: 199px;
}
.image-2 {
  max-height: 320px;
}
/* ------------------------ */
.main__images-2 {
  max-width: 1200px;
  font-size: 0;
  margin: 0px 0px 20px 0px;
}
.main__images-2 > * {
  border: 10px solid rgb(4, 3, 86);
  border-radius: 30px;
  max-width: 100%;
}
.image-4 {
  margin-right: 16px;
}
.image-5 {
  margin-right: 16px;
}
.image-6 {
  max-width: 100%;
}
.main__images-3 {
  max-width: 1200px;
  font-size: 0;
  margin: 0px 0px 80px 0px;
}
.main__images-3 > * {
  max-width: 100%;
  border: 10px solid rgb(4, 3, 86);
  border-radius: 30px;
}
.image-7 {
  margin-right: 16px;
}
.image-8 {
  margin-right: 16px;
}
/* ----------------------- */
.main__images-4 {
  max-width: 1200px;
  font-size: 0;
  margin: 0px 0px 80px 0px;
}
.main__images-4 > * {
  max-width: 270px;
  max-height: 330px;
  border-radius: 30px;
  border: 10px solid rgb(4, 3, 86);
}
.main__images-4 > *:not(:last-child) {
  margin-right: 35px;
}
.image-10 {
  max-width: 100%;
}
.image-11 {
  max-width: 100%;
}
.image-12 {
  max-width: 100%;
}
.image-13 {
  max-width: 100%;
}
/* ---------------------- */
.main__image-5 {
  max-width: 1200px;
  text-align: center;
  margin: 0px 0px 80px 0px;
}
.image-14 {
  max-width: 100%;
  border: 10px solid rgb(4, 3, 86);
  border-radius: 50%;
}
/*---------------------------- */
.main__images-6 {
  font-size: 0;
  max-width: 1200px;
  margin: 0px 0px 80px 0px;
}
.main__images-6 > * {
  max-width: 100%;
  border-radius: 30px;
  border: 10px solid rgb(4, 3, 86);
}
.main__images-6 > *:not(:last-child) {
  margin-right: 16px;
}
/* ------------------------- */
h2 {
  font-size: 35px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  color: blue;
  margin: 0px 0px 30px 0px;
}
.main__content-icons {
  border-radius: 30px;
  background-color: rgb(4, 3, 86);
  text-align: center;
  margin: 0px 0px 80px 0px;
}
.main__content-icons > * {
  vertical-align: middle;
}
.main__design {
  font-size: 0;
  border-radius: 30px;
  background-color: rgb(4, 3, 86);
  margin: 0px 0px 80px 0px;
  padding-bottom: 10px;
}
.main__design > *:not(:first-child) {
  vertical-align: top;
}
.design-1 {
  text-align: center;
  max-width: 800px;
  border-radius: 30px;
  background-color: #000000;
  margin: 0 auto 20px;
  padding: 10px 0px;
}
.design-1 > * {
  min-width: 100px;
  max-height: 100px;
}
.design-1 > *:not(:last-child) {
  margin-right: 40px;
}
.design-2 {
  text-align: center;
  max-width: 800px;
  border-radius: 30px;
  background-color: #000000;
  margin: 0 auto 20px;
  padding: 10px 0px;
}
.design-2 > * {
  min-width: 100px;
  vertical-align: middle;
}
.design-2 > *:not(:last-child) {
  margin-right: 40px;
}
.design-3 {
  text-align: center;
  max-width: 800px;
  border-radius: 30px;
  background-color: #000000;
  margin: 0 auto;
  padding: 10px 0px;
}
.design-3 > * {
  max-width: 100px;
  max-height: 100px;
}
.design-3 > *:not(:last-child) {
  margin-right: 80px;
}
/* ------------------------------ */
.main__icons {
  text-align: center;
  font-size: 0;
  border-radius: 30px;
  background-color: rgb(160, 119, 5);
  padding-bottom: 20px;
}
.main__icons > * {
  vertical-align: middle;
}
.main__icons > *:not(:last-child) {
  margin-right: 5px;
}
