@import url("reset.css");

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
.page {
  padding: 50px;
}
.page__container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
}
.page__image {
  position: relative;
  overflow: hidden;
}
.page__image:hover .page__buttons {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}
.page__image:hover .page__photo img {
  transform: scale(1.1);
}
.page__photo {
  display: block;
  position: relative;
  padding-bottom: 42.75%; /* 513/1200 */
  overflow: hidden;
}
.page__photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}
.page__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: absolute;
  bottom: 20%;
  left: 45%;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 100%);
  transition: all 1s;
}
.page__button {
  width: 150px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(227, 245, 92);
  padding: 10px 30px;
  background-color: rgb(206, 164, 226);
  align-self: center;
  text-align: center;
  border: 1px solid #0000ff;
  transition: background-color 0.5s;
}
.page__button:hover {
  background-color: rgb(203, 111, 246);
}
