.title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 2.83;
  color: #000000;
}
.button {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 1.48;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  width: 120px;
  height: 50px;
  background: #000000;
  transition: all 0.5s;
}
