@import url("reset.css");

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #6c757d;
}
.header {
  margin: 0px 0px 100px 0px;
}
.image {
  width: 100%;
}
main {
  margin-bottom: 50px;
}
[class*="__container"] {
  max-width: 1270px;
  padding: 0px 15px;
  margin: 0 auto;
}
.main__text {
  max-width: 816px;
  margin: 0 auto 100px;
  line-height: 1.78;
}
.main__text:last-child {
  margin-bottom: 0px;
}
.main__text p {
  margin: 0px 0px 30px 0px;
}
.main__text p:last-child {
  margin-bottom: 0px;
}
.main__text p:nth-child(2) {
  margin: 0px 0px 100px 0px;
}
.main__title {
  max-width: 605px;
  font-size: 25px;
  line-height: 1.6;
  font-weight: 700;
  color: #212529;
}
.main__images {
  font-size: 0;
  margin: 0px 0px 100px 0px;
}
.image-1 {
  max-width: 100%;
  margin: 0px 30px 0px 0px;
}
.image-2 {
  max-width: 100%;
}
/* ----------------------- */
.footer__button {
  max-width: 1270px;
  padding: 0px 15px 40px;
  margin: 0 auto;
  color: #000000;
}
.button-1 {
  display: inline-block;
  width: 170px;
  height: 70px;
  font-size: 25px;
  padding-top: 18px;
  outline: 10px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 3px black;
  text-align: center;
  opacity: 0.5;
}
